{{extend 'default/layout_intro.html'}}

<table>
  <tr>
    <td></td>
    <td style="text-align:center">
      <h1>The only CMS you need</h1>
    </td>
    <td>
      Edit Your Pages<br/>
      <img width="50px" src="{{=URL('static','images/arrow-top-right.png')}}" />
    </td>
  </tr>
  <tr>
    <td></td>
    <td style="text-align:left">
      <div class="boxed">
	<img width="150px" src="{{=URL('static','images/pythagoras-3-4-5.gif')}}" align="right"/>
	<div class="editable">
	  <h3>Pitagora's Theorem</h3>
	  \[  a^2+b^2 = c^2 \]
	  
	  
	  <p>
	    In any right triangle, the area of the square whose side is the hypotenuse (the side opposite the right angle) is equal to the sum of the areas of the squares whose sides are the two legs (the two sides that meet at a right angle).
	  </p>
	  <p>Try edit me!</p>
	</div> 
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td style="text-align:right">
      <img width="50px" src="{{=URL('static','images/arrow-bottom-left.png')}}" /><br/>
      Search Your Pages	    
    </td>
    <td style="text-align:center">
      <p>
	Any web site can be a template.<br/>
	Edit in place. Content Aware. Access Control.<br/>
      </p>
    </td>
    <td>
      <img width="50px" src="{{=URL('static','images/arrow-bottom-right.png')}}" /><br/>
      Share You Pages
    </td>
  </tr>
  <tr>
    <td></td>
    <td style="text-align:center">
      <a class="btn" href="{{=URL('create')}}">Start</a>&nbsp;
      <a class="btn" href="{{=URL('getcode')}}">Download</a><br/><br/>
      <p>
	Created by <a href="http://experts4solutions.com">Experts4Solutions</a><br/>
	All Rights Reserved (2012)
      </p>
    </td>
    <td></td>
  </tr>
</table>
